@font-face {
    font-family: 'ciclegordita';
    src: url('cicle/cicle-gordita.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'ciclesemi';
    src: url('cicle/cicle-semi.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'neuzeit';
    src: url('neuzeit/neuzeitgro-reg-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'oswald';
    src: url('oswald/oswald-bold-webfont.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    text-rendering: optimizeLegibility;
}

@font-face {
    font-family: 'oswald';
    src: url('oswald/oswald-regular-webfont.eot');
    src: url('oswald/oswald-regular-webfont.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    text-rendering: optimizeLegibility;
}

@font-face {
    font-family: 'oswald';
    src: url('oswald/oswald-light-webfont.eot');
    src: url('oswald/oswald-light-webfont.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    text-rendering: optimizeLegibility;
}

@font-face {
    font-family: 'sunday';
    src: url('sunday/sunday.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
